nav{
    background-color: #FF9933;
    margin: 0;
}

body{
    background-image: linear-gradient(rgba(255, 255, 255, 0.274), rgba(255, 255, 255, 0.39)), url('https://upload.wikimedia.org/wikipedia/commons/1/17/Ashoka_Chakra.svg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
}

/* navbar */
.navbar{
    position: fixed;
    top: 0;
    overflow: hidden;
    width: 100%;
}

.navbar-brand, .nav-link{
    color: #fff;
}

.navbar-brand:hover, .nav-link:hover{
    /* transform: scale(1.1); */
    color: #000080;
}

.guideline-bg {
    padding: 10px;
   
}

/* about */
.about{
    background-color: aliceblue;
    text-align: center;
    padding: 7% 15%;
}




/* footer */
.footer{
    background-color: #138808;
    padding: 1% 20%;
    text-align: center;
}

h3{
    color: #fff;
    margin: 5rem 2rem 2rem;
}

.footer-icon {
    color: #fff;
    margin: 1rem;
}

.footer-icon:hover{
    color: #000080;
    transform: scale(1.5);
}